// Fonts-color
$main-text-color: rgb(116, 113, 113);

// Project color
$main-color: rgb(68, 116, 209);
$main-background-color: rgb(218, 240, 255);
$secondary-background-color: rgb(252, 249, 249);
$input-color: rgb(201, 201, 201);
$line-color: rgb(210, 222, 255);

$modal-background-color: rgba(0, 0, 0, 0.4);

// Font-size

$xs: 0.9rem; //14px
$s: 1rem; //16px
$m: 1.1rem; //18px
$l: 1.3rem;
$xl: 1.5rem;